{% extends 'panel/base.html' %}

{% block page_content %}


<div class="card shadow mb-6">
  <!-- Card Header - Dropdown -->
 
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-6 text-gray-800">Buscar Productos </h1>
             
        
        <form action="{% url 'meli_search' %}" enctype="multipart/form-data" name="token" id="token" method="POST">
            {% csrf_token %}
            <div class="col form-group">
                <label for="">Producto:</label>
                <input type="text" name="str_search" id="str_search" class="form-control" value="{{ str_search }}" >
            </div>
           
            <button type="submit" class="btn btn-warning"><span class=""></span> Buscar </button>
            <a href="{% url 'meli_get_first_token' %}" class="btn btn-primary " role="button" style="float: right;">
                &nbsp;Conectar ML</a>
        </form>
    </div>
    
    <div class="card-body">
        {% if articulos %}

        <table 
      id="dataTable"
      data-toggle="table"
      data-pagination="false"
      data-search="true"
      data-show-columns="true"
      data-show-toggle="true"
      data-show-fullscreen="false"
      data-toolbar=".buttons-toolbar"
      data-locale="es-AR"
    > 
       
            <thead class="bg-primary text-white">
                <tr>
                    <th data-sortable="true" scope="col">Código</th>
                    <th data-sortable="true" scope="col">Articulo</th>
                    <th data-sortable="true" scope="col">Precio Original</th>
                    <th data-sortable="true" scope="col">Precio Actual</th>
                    <th data-sortable="true" scope="col">Vendedor</th>
                    <th data-sortable="true" scope="col">category_id</th>
                    <th data-sortable="true" scope="col">Marca</th>
                    <th data-sortable="true" scope="col">Cuotas</th>
                    <th data-sortable="true" scope="col">% Interes</th>
                </tr>
            </thead>
            <tbody>
                        
                        {% for arts in articulos.results %}
                        <tr>
                            <th><a href={{arts.permalink}} target="_blank">{{ arts.id }}</a> </th>
                            <th>{{arts.title}} </th>
                            {% if arts.original_price %}
                                <th>$ {{arts.original_price }}</th>
                            {% else %}
                                    <th>$ {{arts.price }}</th>
                            {% endif %}    
                            <th>$ {{arts.price }}</th>
                            <th> {{arts.seller.nickname }}</th>
                            <th><a href="{% url 'meli_search_categoria' arts.category_id %}">{{arts.category_id}}</a></th>
                            {% for attr in arts.attributes %}
                                {% if attr.id == 'BRAND'%}
                                <th>{{attr.value_name }} </th>
                                {% endif %}    
                            {% endfor %}    
                            <th>{{arts.installments.quantity }} </th>
                            <th>{{arts.installments.rate}} </th>
                                
                            
                            
                        </tr>
                        {% endfor %}
                
                        
            </thead>
        </table>
        {% endif %}
    </div>
</div>  

{% endblock%}
