{% extends 'panel/base.html' %}
{% load custom_filters %}
{% block page_content %}


<div class="card shadow mb-6">
  <!-- Card Header - Dropdown -->
 
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-6 text-gray-800">Mis Publicaciones </h1>
        <a href="{% url 'meli_get_first_token' %}" class="btn btn-primary " role="button" style="float: right;">
            &nbsp;Conectar ML</a>

          <!-- Content Row -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">        
                    <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Publicaciones </div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800"> {{ cantidad_publicaciones }} </div>
                </div>
                <div class="col-auto">
                  <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Content Row -->


    </div>
    
      
    <div class="card-body">
        {% if articulos %}

        <table
        id="dataTable"
        style="font-size: 13px;"
        data-toggle="table"
        data-pagination="false"
        data-search="true"
        data-show-columns="true"
        data-show-toggle="true"
        data-show-fullscreen="false"
        data-toolbar=".buttons-toolbar"
        data-locale="es-AR"> 
       
            <thead class="bg-primary text-white">
                <tr>
                    <th >Código</th>
                    <th >Producto Vinculado</th>
                    <th >Articulo</th>
                    <th >Stock en Meli</th>
                    <th >Stock Real</th>
                    <th >Precio Meli</th>
                    <th >Precio Real</th>
                    <th >Precio Ganador</th>
                    <th >Gan Precio Ganador</th>
                    <th >Status</th>
                   
                    
                </tr>
            </thead>
            <tbody>
                       
                        {% for articulo in articulos %}
                            <tr>
                              {% if articulo.producto.id %}
                                <th><a href="{% url 'panel_producto_detalle' articulo.producto.id %}" target="_blank">{{ articulo.publicacion.id }}</a> </th>
                              
                              {% else %}
                                <th><a href="{% url 'panel_catalogo' %}" target="_blank">{{ articulo.publicacion.id }}</a> </th>
                              
                              {% endif%}
                              <th>
                                {% if articulo.producto %}
                                    {{ articulo.producto.product_name }}
                                {% endif %}
                              </th>
                              <th>{{articulo.publicacion.title }} </th>
                              
                              {% if articulo.publicacion.available_quantity ==  articulo.producto.stock and articulo.producto.stock > 0 or articulo.producto.stock is None %}

                                <th>{{ articulo.publicacion.available_quantity }}</th>
                                <th>{{ articulo.producto.stock }}</th>
                              {% else %}
                                  
                                <th class="bg-warning text-dark">{{ articulo.publicacion.available_quantity }}</th>
                                <th class="bg-warning text-dark">{{ articulo.producto.stock }}</th>
                              {% endif %}
                              {% if articulo.publicacion.base_price != articulo.producto.precio_ML and articulo.producto.precio_ML > 0 %}
                          
                                  {% if articulo.publicacion.original_price %}
                                        <th class="bg-warning text-dark"> {{articulo.publicacion.original_price|format_currency }}</th>
                                  {% else %}
                                        <th class="bg-warning text-dark"> {{articulo.publicacion.base_price|format_currency }}</th>
                                  {% endif %}    
                                        <th class="bg-warning text-dark"> {{articulo.producto.precio_ML|format_currency }}</th>
                                  {% else %}

                                  {% if articulo.publicacion.original_price %}
                                        <th> {{articulo.publicacion.original_price|format_currency }}</th>
                                  {% else %}
                                        <th> {{articulo.publicacion.base_price|format_currency }}</th>
                                  {% endif %}    
                                        <th> {{articulo.producto.precio_ML|format_currency }}</th>
                              {% endif %}  
                              <th> {{ articulo.precio_to_win|format_currency }}</th>
                              {% if articulo.ganancia_precio_competencia > 0 %}
                              <th> <span class="badge bg-success text-white">
                                    {{ articulo.ganancia_precio_competencia|format_currency }}
                                  </span>
                              </th>
                              {% else %}
                              <th> 
                                <span class="badge bg-warning text-white" >
                                  {{ articulo.ganancia_precio_competencia|format_currency }}
                                </span>
                              </th>
                              {% endif %}
                              <th>
                                {% if articulo.status == "winning" %}
                                <a href="{% url 'meli_analisis_publicaciones' articulo.publicacion.id %}" target="_blank">
                                  <span class="badge bg-success text-white">{{ articulo.status }}</span>
                                 </a>
                                 {% elif articulo.status == "not_listed" %}
                                 <a href="{% url 'meli_analisis_publicaciones' articulo.publicacion.id %}" target="_blank">
                                  <span class="badge bg-danger text-white">{{ articulo.status }}</span>
                                 </a>
                                 {% elif articulo.status == "sharing_first_place" %}
                                 <a href="{% url 'meli_analisis_publicaciones' articulo.publicacion.id %}" target="_blank">
                                  <span class="badge bg-info text-white">{{ articulo.status }}</span>
                                 </a>
                                 {% else %}
                                 <a href="{% url 'meli_analisis_publicaciones' articulo.publicacion.id %}" target="_blank">
                                  <span class="badge bg-warning text-white">{{ articulo.status }}</span>
                                 </a>
                                 {% endif %}
                              </th>
                              
                              
                          </tr>
                        {% endfor %}
                
                        
            </tbody>
        </table>
        {% endif %}
    </div>
</div>  

{% endblock%}
