
{% extends 'panel/base.html' %}
{% load static %}
{% block page_content %}

<div class="container">
    <h2>Vincular Artículos del Proveedor</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="proveedor">Seleccionar Proveedor</label>
            <select id="proveedor" name="proveedor" class="form-control">
                <option value="">Seleccione un Proveedor</option>
                {% for proveedor in proveedores %}
                    <option value="{{ proveedor.id }}">{{ proveedor.nombre }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="producto">Seleccionar Producto del Proveedor</label>
            <select id="producto" name="producto" class="form-control" disabled>
                <option value="">Seleccione primero un proveedor</option>
            </select>
        </div>

        <div class="form-group">
            <label for="producto_propio">Producto Propio:</label>
            <select id="producto_propio" class="form-control" name="producto_propio">
                <option value="">Seleccione un producto propio</option>
                {% for producto in productos %}
                <option value="{{ producto.id }}">{{ producto.product_name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

    
</div>
<script>
    document.getElementById('proveedor').addEventListener('change', function() {
        var proveedorId = this.value;
        var productoSelect = document.getElementById('producto');
    
        console.log("Proveedor seleccionado:", proveedorId); // Verificar si el proveedor fue seleccionado
        
        if (proveedorId) {
            // Ajustar la URL de acuerdo al formato que mencionaste
            var url = `/compras/proveedores/get_productos/${proveedorId}/`;
            console.log("URL de fetch:", url); // Verificar la URL generada
    
            fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log("Datos recibidos:", data); // Verificar los datos que llegan del servidor
                productoSelect.innerHTML = '<option value="">Seleccione un Producto</option>'; // Reiniciar lista de productos
                data.productos.forEach(function(producto) {
                    productoSelect.innerHTML += `<option value="${producto.id}">${producto.nombre_articulo}</option>`;
                });
                productoSelect.disabled = false;
            })
            .catch(error => console.log('Error en fetch:', error));
        } else {
            productoSelect.innerHTML = '<option value="">Seleccione primero un proveedor</option>';
            productoSelect.disabled = true;
        }
    });
    </script>
    


{% endblock %}