{% extends 'panel/base.html' %}
{% load custom_filters %}
{% block page_content %}

<style>
    .bg-warning {
        background-color: #edb976 !important; /* Fondo Naranja */
    }
    .bg-success{
        background-color: #81daab !important; /* Fondo verde */
    }
</style>
<div class="container">
    <h2 style="text-align: center;"> Balance </h2>
    <span class="bg-success" >Cerrado OK</span>
    <span class="bg-warning">Cerrado con diferencias </span>
    <p></p>
    <form method="post" action="" class="mb-3">
      {% csrf_token %}
      <label for="anio">Seleccione el año: {{ anio }}</label>
      <select name="anio" id="anio" class="form-control" onchange="this.form.submit()">
          {% for ano in anios_disponibles %}
              {% if ano|stringformat:"s" == anio|stringformat:"s" %}
                <option value="{{ ano }}" selected>{{ ano }}</option>
              {% else %}
                <option value="{{ ano }}" >{{ ano }}</option>
              {% endif %}
          {% endfor %}
      </select>
  </form>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Mes</th>
        <th>Ingresos (Pesos)</th>
        <th>Ingresos (Dólares)</th>
        <th>Egresos (Pesos)</th>
        <th>Egresos (Dólares)</th>
        <th>Total (Pesos)</th>
        <th>Total (Dólares)</th>
      </tr>
    </thead>
    <tbody>
        {% for item in data %}
          {% if item.tiene_datos %}
            {% if item.total_movimientos != 0 %}
              <tr class="bg-warning" >
            {% else  %}
              <tr class="bg-success" >
            {% endif %}
          {% endif %} 
           
          <td><b><a href="{% url 'panel_movimientos_cerrados_list' item.idcierre %}">{{ item.mes }}</a></b></td>
          <td>{{ item.ingresos_pesos|format_currency }}</td>
          <td>{{ item.ingresos_dolares|format_currency_usd }}</td>
          <td>{{ item.egresos_pesos|format_currency }}</td>
          <td>{{ item.egresos_dolares|format_currency_usd }}</td>
          <td>{{ item.total_pesos|format_currency }}</td>
          <td>{{ item.total_dolares|format_currency_usd }}</td>
        </tr>
        {% endfor %}
      <tr>
        <th>Totales Anuales</th>
        <th>{{ totales.ingresos_pesos|format_currency }}</th>
        <th>{{ totales.ingresos_dolares|format_currency_usd }}</th>
        <th>{{ totales.egresos_pesos|format_currency }}</th>
        <th>{{ totales.egresos_dolares|format_currency_usd }}</th>
        <th>{{ totales.total_pesos|format_currency }}</th>
        <th>{{ totales.total_dolares|format_currency_usd }}</th>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}