
{% extends 'panel/base.html' %}
{% load static %}
{% block page_content %}


<section class="content">
    <div class="container-fluid">
      <div class="row">
            <!-- left column -->
            <div class="card-body">
                <h4 class="card-title mb-4">Categoría - <b>{{ categoria.category_name }} </b></h4>
                <form action="{% url 'panel_categoria_save' %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                        <label for="">Nombre</label>
                            <input type="number" name="categoria_id"  class="form-control" value="{{categoria.id}}" hidden>
                            <input type="text" name="category_name" class="form-control" value="{{categoria.category_name}}" required>
                            <label for="">Orden</label>
                            <input type="text" name="orden" class="form-control" value="{{categoria.orden}}">
                        </div>
                        <div class="col form-group">
                            <label for="">slug</label>
                            <input type="text" name="slug" class="form-control" value="{{categoria.slug}}"  disabled>
                        </div>
                        <input id="imgFile" type="file" name="imgFile" class="form-control" value="{{ categoria.cat_image.url}}">
                        <input id="images" type="text" name="images" class="form-control" value="{{ categoria.cat_image }}" hidden>               
                        

                    </div>
                    
                    <div class="form-row">
                        <div class="col form-group">
                        <label for="">Descripcion</label>
                        <textarea type="textarea" name="description" rows="8" class="form-control">{{categoria.description}}</textarea>
                       
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class=""></span> Guardar </button>
                    <a href="{% url 'panel_categoria' %}" class="btn btn-secondary">Cancelar</a>
                </form>
        </div> <!-- card.// -->
                <!-- fin rigth column-->
                <aside class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            
                                <h4 class="card-title mb-4">Imagen </h4>
                                <aside class="col-md-4">
                                    <article class="gallery-wrap">
                                        <div class="img-big-wrap mainImage">
                                            <center><img src="{{ categoria.cat_image.url }}"></center>
                                        </div> <!-- img-big-wrap.// -->
                                    </article> <!-- gallery-wrap .end// -->
                                </aside>
            
                                <div class="form-row">
                                    
                                </div>
                           
                        </div>
                    </div><br>
                </aside><!-- col // -->

        </div>
    </div>
                
</section>
<br>
<br>

<section class="content">
    <div class="container-fluid">
      <div class="row">
            <!-- left column -->
            <div class="col-md-12" >
                <!-- general form elements -->
                <div class="card card-primary"><b>Sub Categorias: </b>
                    <div class="dropdown no-arrow">
                        {% if categoria %}
                        <a href="{% url 'panel_subcategoria_save' categoria.id 0  %}" class="href btn btn-success"> Agregar </a>
                        {% else%}
                        <a href="{% url 'panel_subcategoria_save' 0 0 %}" class="href btn btn-success"> Agregar </a>
                        {% endif %}
                        
                    </div>
                    <div class="card-header">
                            <!-- tabla articulos -->
                            <table 
                                id="table"
                                data-toggle="table"
                                data-pagination="false"
                                data-search="false"
                                data-show-columns="false"
                                data-show-toggle="false"
                                data-show-fullscreen="false"
                                data-toolbar=".buttons-toolbar"
                                data-locale="es-AR"
                                >
                                <thead>
                                    
                                    <th data-sortable="true" data-field="id">ID</th>
                                    <th data-sortable="true" data-field="subcategory_name">Sub Categoría</th>
                                    <th data-sortable="true" data-field="sub_category_slug">Slug</th>   
                                    <th data-sortable="true" data-field="sub_category_description">Descripcion</th>
                                    <th data-sortable="true" data-field="orden">Orden</th>
                                    <th class="all">Acciones</th>  
                                </thead>
                                <tbody>
                                    {% if subcategoria %}
                                        {% for item in subcategoria %}
                                        <tr>
                                        <td>{{ item.id }}</td>
                                        <td><b><a href="{% url 'panel_subcategoria_detalle' item.id %}">{{ item.subcategory_name }}</a></b></td> 
                                        <td>{{ item.sub_category_slug }}</td>
                                        <td>{{ item.sub_category_description }}</td> 
                                        <td>{{ item.orden }}</td>
                                        <td >         
                                        <a href="{% url 'panel_subcategoria_del' item.id %}" class="href btn btn-danger btn-circle" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>

                            </table>
                            <!-- fin tabla articulos-->
                    </div>
                </div>
                 <!-- /.card -->
            </div>
      </div>

      <!-- / .card-body -->
      
    </div>
</section>
<br>

{% endblock %}
