<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Costo de Envío</title>
</head>
<body>
    <h1>Consultar Costo de Envío con OCA</h1>

    <form method="post">
        {% csrf_token %}
        <label for="peso_total">Peso Total (kg):</label>
        <input type="number" id="peso_total" name="peso_total" step="any" required><br>

        <label for="volumen_total">Volumen Total (m³):</label>
        <input type="number" id="volumen_total" name="volumen_total" step="any" required><br>

        <label for="cp_origen">Código Postal Origen:</label>
        <input type="text" id="cp_origen" name="cp_origen" required><br>

        <label for="cp_destino">Código Postal Destino:</label>
        <input type="text" id="cp_destino" name="cp_destino" required><br>

        <label for="cant_paquetes">Cantidad de Paquetes:</label>
        <input type="number" id="cant_paquetes" name="cant_paquetes" required><br>

        <label for="valor_declarado">Valor Declarado ($):</label>
        <input type="number" id="valor_declarado" name="valor_declarado" step="any" required><br>

        <label for="cuit">CUIT:</label>
        <input type="text" id="cuit" name="cuit" required><br>

        <label for="operativa">Operativa:</label>
        <input type="number" id="operativa" name="operativa" required><br>

        <button type="submit">Consultar Costo</button>
    </form>

    {% if resultado %}
        <h2>Resultado:</h2>
        {% if resultado.error %}
            <p style="color: red;">Error: {{ resultado.error }}</p>
        {% else %}
            <p>Precio: ${{ resultado.Precio }}</p>
            <p>Total: ${{ resultado.Total }}</p>
            <p>Plazo de Entrega: {{ resultado.PlazoEntrega }} días</p>
        {% endif %}
    {% endif %}

<!--   CONSULTAR SUCURSALES POR CODIGO POSTAL-->
    <form action="{% url 'consultar_suc_by_cp' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        

        <label for="cp_destino">Código Postal :</label>
        <input type="text" id="cp_destino" name="cp_destino" required><br>

        <button type="submit">Consultar CP</button>
    </form>
    
    {% if centros_info.centro_data %}
    <table>
        <thead>
            <tr>
                <th>ID Centro</th>
                <th>Sucursal</th>
                <th>Calle</th>
                <th>Número</th>
                <th>Localidad</th>
                <th>Provincia</th>
                <th>Teléfono</th>
                <th>Servicios</th>
            </tr>
        </thead>
        <tbody>
            {% for centro in centros_info.centro_data %}
                <tr>
                    <td>{{ centro.IdCentroImposicion }}</td>
                    <td>{{ centro.Sucursal }}</td>
                    <td>{{ centro.Calle }} {{ centro.Numero }} - {{ centro.Localidad }} </td>
                    <td>{{ centro.Numero }}</td>
                    <td>{{ centro.Localidad }}</td>
                    <td>{{ centro.Provincia }}</td>
                    <td>{{ centro.Telefono }}</td>
                    <td>
                        <ul>
                            {% for servicio in centro.Servicios %}
                                <li>{{ servicio.ServicioDesc }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No se encontraron centros de imposición para el código postal proporcionado.</p>
    {% endif %}


</body>
</html>
