{% extends 'panel/base.html' %}

{% block page_content %}

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Panel Diario</h1>
                <form action="{% url 'dashboard_ventas' %}" enctype="multipart/form-data" method="POST">
                
                  {% csrf_token %}
                  <div class="dropdown no-arrow">Desde:
                    <input type="text"  onblur="validar(this)" name="fecha_desde" id="fecha_desde"  value="{{ fecha_desde  | date:'d/m/Y' }}" />
                          Hasta:<input type="text"  onblur="validar(this)" name="fecha_hasta" id="fecha_hasta"  value="{{ fecha_hasta | date:'d/m/Y' }}"/>
                          <button type="submit" class="btn btn-primary"> <i class="fas fa-search"></i></button>
                  </div>
                </form>
            </div>
            <!-- Content Row -->

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">        
                        <div class="text-s font-weight-bold text-primary text-uppercase mb-1">Pedidos {{ pedidos_totales.cantidad}}</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$ {{ pedidos_totales.total }}  </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Content Row -->


           <!-- Card Body -->
  <div class="card-body">
    {% if not pedidos_list %}
    <div class="alert alert-info">No se encontraron pedidos</div>
    {% endif %}
        

    <table 
      id="table"
      data-toggle="table"
      data-pagination="false"
      data-search="true"
      data-show-columns="false"
      data-show-toggle="false"
      data-show-fullscreen="false"
      data-toolbar=".buttons-toolbar"
      data-locale="es-AR"
    >
      <thead>
          <th class="all">Acciones</th>  
          <th data-sortable="true" data-field="order_number">Nro</th>
          <th data-sortable="true" data-field="first_name">Nombre</th>
          <th data-sortable="true" data-field="last_name">Apellido</th>   
          <th data-sortable="true" data-field="phone">phone</th>
          <th data-sortable="true" data-field="cuenta">Cuenta</th>
          <th data-sortable="true" data-field="order_total">Total</th>
          <th data-sortable="true" data-field="status">status</th>
          <th data-sortable="true" data-field="fecha">Fecha </th>
          <th data-sortable="true" data-field="nro_tracking">Tracking </th>
         

      </thead>
      <tbody>
        <!--  <a href="#" class="href btn btn-success btn-circle"></a>-->
        <!--  - {{item.STATUS}}-->
        {% for item in pedidos_list %}
        <tr>
          <td>
            {% if item.status == 'New' %}
             <i class="href btn btn-primary btn-circle"><i class="fas fa-dollar-sign"></i></i>
            {% endif %}
            {% if item.status == 'Cobrado' %}
              {% if item.nro_tracking %}
                  <i class="href btn btn-success btn-circle"><i class="fas fa-truck"></i></i>
              {% else %}
                  <i class="href btn btn-warning btn-circle"><i class="fas fa-truck"></i></i>
              {% endif %}
            {% endif %}
            {% if item.status == 'Entregado' %}
              {% if item.nro_tracking %}
                  <i class="href btn btn-success btn-circle"><i class="fas fa-edit"></i></i>
              {% else %}
                  <i class="href btn btn-warning btn-circle"><i class="fas fa-edit"></i></i>
              {% endif %}
            {% endif %}
          
        
          </td>
          <td><b><a href="{% url 'panel_pedidos_detalle' item.order_number %}">{{ item.order_number }}</a></b></td>
          <td>{{ item.first_name }} </td> 
          <td>{{ item.last_name }}</td>
          <td>{{ item.dir_telefono }} </td>

          {% if item.cuenta != 0 %}
            {% for i in cuenta %}
              {% if i.id == item.cuenta %}
                <td>{{ i.nombre }}</td>
              {% endif %}
            {% endfor %}
          {% else%}
           <td>Pendiente</td>
          {% endif %}     


          
          <td>$ {{ item.order_total }} </td>
          {% if item.status == "New" %}
            <td><span class="badge bg-primary text-white">{{ item.status }}</span></td>
          {% elif item.status == "Cobrado" %}
            <td><span class="badge bg-warning text-white">{{ item.status }}</span></td>
          {% elif item.status == "Entregado" %}
            <td><span class="badge bg-success text-white">{{ item.status }}</span></td>
          {% else %}
            <td><span class="badge bg-secondary text-white">{{ item.status }}</span></td>
          {% endif %}
          <td>{{ item.fecha | date:"d/m/Y"  }}</td>
          <td>{{ item.nro_tracking  }}</td>
          
          
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
          
        </div> 
{% endblock %}