{% extends 'panel/base.html' %}

{% block page_content %}


<section class="section-conten padding-y bg">

<div class="container">
	<div class="row">
	<main class="col-md-9">
		<article class="card">
            <header class="card-header">
                <center><strong class="d-inline-block mr-3"><h4>Cotizaciones de Dolares - {{ dolar.nombre}} - {{ dolar.created_at | date:"d/m/Y" }}  </h4></strong></center>

            </header>
            <div class="card-body">
                <form id="dolar" name="dolar" action="{% url 'panel_cotiz_dolar_modif' fecha_str  %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <input type="text" name="fecha"  class="form-control" value="{{fecha_str}}" required hidden>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Nombre</label>
                                    <b>{{ dolar.nombre }} </b>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Moneda</label>
                                    <b>{{dolar.moneda}} </b>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Venta</label>
                                    <input type="text" class="form-control" name="venta" id="venta"  value="{{ dolar.venta}}" required>
                                    
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Compra</label>
                                    <input type="text" name="compra"  id="compra" class="form-control" value="{{ dolar.compra}}" required>
                                    
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Promedio</label>
                                    {{dolar.promedio}}
                                    
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Fecha de actualizacion   </label>
                                    <b>{{ dolar.fechaActualizacion }} </b>
                                </div>
                                
                            </div>

                            <button type="submit" class="btn btn-primary"><span class=""></span> Guardar </button>
                            <a href="{% url 'panel_cotiz_dolar_list' %}" class="btn btn-secondary">Volver</a>
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                </form>
            </div>
		</article>
	</main>
    </div> <!-- row.// -->
</div>
</section>



{% endblock %}

{% block js_page %}
<script>
    document.getElementById('dolar').addEventListener('submit', function(event) {
        let montoInput = document.querySelector('input[name="venta"]');
        
        let montoValue = montoInput.value.trim();
        
        // Expresión regular para validar números decimales con hasta 2 dígitos decimales
        let decimalRegex = /^\d+([.,]\d{1,2})?$/;   
        if (!decimalRegex.test(montoValue)) {
            alert("Por favor, ingrese un monto válido con hasta 2 dígitos decimales. - Ventas");
            event.preventDefault();
        }


    });

    document.getElementById('dolar').addEventListener('submit', function(event) {
        let montoInput = document.querySelector('input[name="compra"]');
        
        let montoValue = montoInput.value.trim();
        
        // Expresión regular para validar números decimales con hasta 2 dígitos decimales
        let decimalRegex = /^\d+([.,]\d{1,2})?$/;

        if (!decimalRegex.test(montoValue)) {
            alert("Por favor, ingrese un monto válido con hasta 2 dígitos decimales. - Compras");
            event.preventDefault();
        }


    });
</script>

{% endblock %}