{% extends 'panel/base.html' %}

{% block page_content %}


<section class="section-conten padding-y bg">
<form action="{% url 'panel_pedidos_enviar_tracking' pedido.order_number %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
    
    <div class="container">
        <div class="row">
        <main class="col-md-9">
            <article class="card">
                <header class="card-header">
                    <center><strong class="d-inline-block mr-3"><h6>Pedido: {{ pedido.order_number }}</h6></strong></center>

                </header>
                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Nombre</label>
                                    <b>{{ pedido.first_name }} </b>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Apellido</label>
                                    <b>{{pedido.last_name}} </b>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Telefono</label>
                                    {{pedido.phone_number}}
                                </div>
                                <div class="form-group col-md-6">
                                    <label>email</label>
                                    {{pedido.email}}
                                    
                                </div>
                                <div class="col form-group">
                                    <label for="">Tracking</label>
                                    <input type="text" name="tracking" id="tracking" class="form-control" required>
                                    </div>
                            </div>
                            <div class="form-row">
                                <input id="imgFile1" type="file" name="imgFile1" class="form-control" value="" required>
                               
                            </div>
                            <div class="form-row">
                                <input id="imgFile2" type="file" name="imgFile2" class="form-control" value="" >
                               
                            </div>
                            <div class="form-row">
                                <input id="imgFile3" type="file" name="imgFile3" class="form-control" value="" >
                               
                            </div>
                            <br>
                            <div class="form-row">
                                <button type="submit" class="btn btn-success"><i class="fas fa-truck"></i> Enviar Tracking </button>
                                <pre style='display:inline'  class="float-right"> </pre>
                                <a href="{% url 'panel_clientes' %}" class="btn btn-secondary">Volver</a>
                                
                            </div>
                           
                        
                        </div>

                    </div> <!-- row.// -->
                </div> <!-- card-body .// -->

            </article> <!-- order-group.// -->
        </main>
    </div> <!-- row.// -->

</form>


</section>

{% endblock %}
<script>

document.getElementById('image1').onchange = function () {
  console.log(this.value);
  document.getElementById('fichero').innerHTML = document.getElementById('image1').files[0].name;
}
</script>