

{% extends 'panel/base.html' %}
{% load static %}
{% block page_content %}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6" >
               
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title" align="center">Importar Productos </h3>
                        </div>
                        
                        <div class="card-footer">
                            <form action="{% url 'panel_producto_import' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                    <input type="file" name="rootfile">
                                    <button type="submit" class="btn btn-primary">Procesar Archivo ...</button>
                               
                                    
                                </form>
                          </div>
                  
                    </div>
                </div>

            <div class="col-md-6" >
               
                <aside class="col-lg-12">
                    <div class="card-body">
                    <!-- Collapsable Card Example -->
                        <div class="card shadow mb-6">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCard3" class="d-block card-header py-3" data-toggle="collapse"
                                role="button" aria-expanded="false" aria-controls="collapseCard3">
                                <h3 class="card-title" align="center"><i class="fas fa-info"></i> Formato </h3>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse" id="collapseCard3">
                                <div class="card-body">
                                    <span> Arhivo Excel (XLS) con las siguientes columnas. (el nombre del archivo no debe tener espacios)</span>
                                    <ul>
                                        <li> <b>(a) Producto</b> - Ejemplo: Abacus 14 mm - AZUL CIELO</li>
                                        <li> <b>(b) Descripcion</b> - Ejemplo:  Todas las cuentas de silicona son 100% de silicona de grado alimenticio</li>
                                        <li> <b>(c) Precio</b> - Ejemplo:  1234.56</li>
                                        <li> <b>(d) Nombre Imagen</b>  - Ejemplo:  cd58b2389d911eb731c09cc8051e31f1/Abacus-14-mm---AMARILLO-PASTEL.jpg</li>
                                        <li> <b>(e) Stock</b> - Ejemplo:  1234</li>
                                        <li> <b>(f) Habilitado</b> - Ejemplo:  True / False </li>
                                        <li> <b>(g) Categoria</b> - Ejemplo: Abacus.</li>
                                        <li> <b>(h) Sub Categoria</b> - Ejemplo:  14 mm</li>
                                        <li> <b>(i) Peso (Gramos)</b> - Ejemplo:  1</li>
                                        <li> <b>(j) Ubicación</b> - Ejemplo:  123 </li>
                                        <li> <b>(k) Costo</b> - Ejemplo:  123.56 </li>
                                    </ul>
                                    <a href="{% url 'panel_producto_import_del_all' %}"  class="btn btn-secondary">Eliminar Todos los productos</a>
                                    <a href="{% url 'panel_producto_img' %}"  class="btn btn-primary">Actualizar Imagenes Productos</a>

                                    


                                </div>
                            </div>
                        </div>
                 
                    </div>
                  
            </aside>
                <!-- general form elements 
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title" align="center"><i class="fas fa-info"></i> Formato </h3>
                    </div>
                    <div class="card-footer">
                        <span> Arhivo Excel (XLS) con las siguientes columnas. (el nombre del archivo no debe tener espacios)</span>
                            <ul>
                                <li> <b>(a) Producto</b> - Ejemplo: Abacus 14 mm - AZUL CIELO</li>
                                <li> <b>(b) Descripcion</b> - Ejemplo:  Todas las cuentas de silicona son 100% de silicona de grado alimenticio</li>
                                <li> <b>(c) Precio</b> - Ejemplo:  1234.56.</li>
                                <li> <b>(d) Nombre Imagen</b>  - Ejemplo:  cd58b2389d911eb731c09cc8051e31f1/Abacus-14-mm---AMARILLO-PASTEL.jpg</li>
                                <li> <b>(e) Stock</b> - Ejemplo:  1234</li>
                                <li> <b>(f) Habilitado</b> - Ejemplo:  True / False </li>
                                <li> <b>(g) Categoria</b> - Ejemplo: Abacus.</li>
                                <li> <b>(h) Sub Categoria</b> - Ejemplo:  14 mm</li>
                                <li> <b>(i) Peso (Gramos)</b> - Ejemplo:  1</li>
                            </ul>
                      </div>
              
                </div>
            -->
            </div>

        </div>
            <!-- rigth column-->
        <div class="row">
        
            <aside class="col-lg-6">
                    <div class="card-body">
                    <!-- Collapsable Card Example -->
                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCard2" class="d-block card-header py-3" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="collapseCard2">
                                <h6 class="m-0 font-weight-bold text-primary">Resultado - Procesados OK : {{ cant_ok }} - Procesados Error : {{ cant_error }}  </h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse show" id="collapseCard2">
                                <div class="card-body">
                                    <p>Procesados OK : {{ cant_ok }}        </p>
                                    <p>Procesados Error : {{ cant_error }}        </p>
                                    <p>Errores : {{ error_str }}        </p> 
                                </div>
                            </div>
                        </div>
                 
                    </div>
                    <a href="{% url 'panel_guardar_tmp_productos' %}" class="btn btn-success">Guardar</a>
            </aside>

        </div>
                
</section>

<section class="content">
    <div class="container-fluid">
      <div class="row">
            <!-- left column -->
            <div class="col-md-12" >
                <!-- general form elements -->
                <div class="card card-primary"><b>Productos importados:</b>
                    <div class="card-header">
                            <!-- tabla articulos -->
                            <table 
                                id="table"
                                data-toggle="table"
                                data-pagination="false"
                                data-search="true"
                                data-show-columns="false"
                                data-show-toggle="false"
                                data-show-fullscreen="false"
                                data-toolbar=".buttons-toolbar"
                                data-locale="es-AR"
                                >
                                <thead>
                                    <th data-sortable="true" data-field="id">Nro</th>
                                    <th data-sortable="true" data-field="product_name">Producto</th>
                                    <th data-sortable="true" data-field="description">Descripcion</th>   
                                    <th data-sortable="true" data-field="price">Precio</th>
                                    <th data-sortable="true" data-field="images">Imagen</th>
                                    <th data-sortable="true" data-field="stock">Stock</th>
                                    <th data-sortable="true" data-field="category">Categoria</th>
                                    <th data-sortable="true" data-field="is_available">habilitado</th>
                                    
                                    <th class="all">Acciones</th>  
                                </thead>
                                <tbody>
                                    {% for item in articulos_tmp %}
                                    <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.product_name }}</td>
                                    <td>{{ item.description }}</td> 
                                    <td>{{ item.price }}</td>
                                    <td>{{ item.images }}</td>
                                    <td>{{ item.stock }}</td>
                                    <td>{{ item.category }}</td>
                                    {% if item.is_available %}
                                        <td> <img src="{% static 'img/check.jpg' %}" alt="check" width="30" style="border-radius:10px;"> </td>
                                    {% else %}
                                        <td> <img src="{% static 'img/uncheck.jpg' %}" alt="check" width="30" style="border-radius:10px;"> </td>
                                    {% endif %}
                                    <td >         
                                       <a href="{% url 'panel_importar_productos_del' item.id %}" class="href btn btn-danger btn-circle" title="Eliminar"><i class="far fa-trash-alt"></i></a>
                                    </div>
                                    
                                    </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                            <!-- fin tabla articulos-->
                    </div>
                </div>
                 <!-- /.card -->
            </div>
      </div>

      <!-- / .card-body -->
      
    </div>
</section>
<br>

{% endblock %}

{% block js_page %}

<script>
    $(document).ready(function() {

// Escuchamos el evento 'change' del input donde cargamos el archivo
$(document).on('change', 'input[type=file]', function(e) {
  // Obtenemos la ruta temporal mediante el evento
  var TmpPath = URL.createObjectURL(e.target.files[0]);
  //console.log(TmpPath)
  // Mostramos la ruta temporal
  //$('span').html(TmpPath);
  //$("#rootfile").val(TmpPath);
  //$('img').attr('src', TmpPath);
});

});
</script>
{% endblock %}