{% extends 'panel/base.html' %}
{% load static %}
{% load custom_filters %}
{% block page_content %}


<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <form action="{% url 'producto_list_category' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %} 
  <div class="card-header py-6 d-flex flex-row align-items-center justify-content-between">
    <h6 class="mb-9 font-weight-bold text-primary">Productos - {{ cantidad }}</h6>
              
      
    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <a href="{% url 'mov_export_xls' 3 %}" class="btn btn-secondary">Exportar xls</a>
      
    </div>
 
  </div>
  <!-- Card Body -->
  <div class="card-body">
    {% if not catalogo %}
    <div class="alert alert-info">No se encontraron productos</div>
    {% endif %}
    <div class="buttons-toolbar">
        <a class="btn btn-primary" href="{% url 'panel_producto_crud' %}"><i class="fa fa-plus"></i> Nuevo</a>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-md-4" >
            <div class="input-group-append">
              <h3 class="h3 mb-0 text-gray-800"> Categorias:  </h3>
            <select name="category" id="category" class="form-control">
              <option value="0" selected > - TODOS - </option> 
              {% for cat in categorias %}
                  {%if cat.id == categoria %}
                    <option value="{{cat.id}}" selected >{{ cat.category_name }}</option>
                  {% else %}
                    <option value="{{cat.id}}"  >{{ cat.category_name }} </option>
                  {% endif %}
              {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div class="col-md-3" >
          </div>
      </div>
    </div>

  </form>
    <table 
      id="table"
      style="font-size: 13px;"
      data-toggle="table"
      data-pagination="false"
      data-search="true"
      data-show-columns="false"
      data-show-toggle="false"
      data-show-fullscreen="false"
      data-toolbar=".buttons-toolbar"
      data-locale="es-AR"
    >
      <thead>
         
          <th data-sortable="true" data-field="product_name">Producto</th>
          <th data-sortable="true" data-field="costo_prod">Costo</th>   
          <th data-sortable="true" data-field="price">Precio</th>
          <th data-sortable="true" data-field="stock">Stock</th>
          <th data-sortable="true" data-field="is_available">Habilitado</th>
          <th data-sortable="true" data-field="category">Categoria</th>
          <th data-sortable="true" data-field="subcategory">Subcategoria</th> 
          

          <th class="all">Acciones</th>  
      </thead>
      <tbody>
        {% for item in catalogo %}
        <tr>
  
         
          <td><b><a href="{% url 'panel_producto_detalle' item.id %}">{{ item.product_name }}</a></b></td> 
          <td>{{ item.costo_prod|format_currency }}</td>
          <td>{{ item.price|format_currency }}</td>
          <td>{{ item.stock }}</td>
          {% if item.is_available %}
              <td> 
                <a href="{% url 'panel_producto_habilitar' product_id=item.id estado=0 %}"> 
                <img src="{% static 'img/check.jpg' %}" alt="check" width="30" style="border-radius:10px;" name="is_available"></a>
             </td>
          {% else %}
            <td>
              <a href="{%url 'panel_producto_habilitar' product_id=item.id estado=1 %}">
               <img src="{% static 'img/uncheck.jpg' %}" alt="check" width="30" style="border-radius:10px;" name="is_available"> </a>
            </td>
          {% endif %}
           <td>{{ item.category }}</td>
          <td>{{ item.subcategory }}</td>
        
          <td>  
            <!--  <a href="{% url 'panel_productos_del' item.id %}" class="href btn btn-warning btn-circle" title="Editar">  <i class="far fa-edit"> </i></a>   
            -->  <a href="{% url 'panel_productos_del' item.id %}" class="href btn btn-danger btn-circle" title="Eliminar"><i class="far fa-trash-alt"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</div>




{% endblock %}

{% block js_page %}

<script>

   function buscarsubcategoria()     {
       
       console.log($("#category").val());
       var categoria=$('#category').val();
       var path = "{% url 'api:subcategory_list' %}" + categoria;

        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
            
                var select2=document.getElementById('subcategory');
                select2.options.length=0;
                for(f=0;r.length;f++)
                {
                    var op=document.createElement('option');
                    var texto=document.createTextNode(r[f].subcategory_name);
                    
                    op.value = r[f].id
                    op.appendChild(texto);
                    select2.appendChild(op);
                } 
            },
        });
    }
    
   $(function () {

      
        $("#category").change(function() {
           console.log($("#category").val());
           buscarsubcategoria();
           
        });
      
    });

    
   

</script>

{% endblock %}