{% extends 'panel/base.html' %}
{% load static %}
{% block page_content %}


<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-2 font-weight-bold text-primary">Productos - ({{ cantidad }})</h6>
    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <a href="{% url 'mov_export_xls' 3 %}" class="btn btn-secondary">Exportar xls</a>
      
    </div>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    {% if not catalogo %}
    <div class="alert alert-info">No se encontraron productos</div>
    {% endif %}
    <div class="buttons-toolbar">
        <a class="btn btn-primary" href="{% url 'panel_producto_crud' %}"><i class="fa fa-plus"></i> Nuevo</a>
    </div>


    <table 
      id="table"
      data-toggle="table"
      data-pagination="false"
      data-search="true"
      data-show-columns="false"
      data-show-toggle="false"
      data-show-fullscreen="false"
      data-toolbar=".buttons-toolbar"
      data-locale="es-AR"
    >
      <thead>
          <th data-sortable="true" data-field="product_name">Nombre</th>
<!--      <th data-sortable="true" data-field="description">Descripcion</th>   -->
          <th data-sortable="true" data-field="price">Precio</th>
<!--      <th data-sortable="true" data-field="images">Imagen</th>
-->       <th data-sortable="true" data-field="stock">Stock</th>
          <th data-sortable="true" data-field="is_available">Habilitado</th>
          <th data-sortable="true" data-field="category">Categoria</th>
          <th data-sortable="true" data-field="subcategory">Subcategoria</th> 
          <th data-sortable="true" data-field="modified_date">Fecha Modificaciòn</th>

          <th class="all">Acciones</th>  
      </thead>
      <tbody>
        {% for item in catalogo %}
        <tr>
          
          <td><b><a href="{% url 'panel_producto_detalle' item.id %}">{{ item.product_name }}</a></b></td> 
          <td>$ {{ item.price }}</td>
          <td>{{ item.stock }}</td>
          {% if item.is_available %}
              <td> 
                <a href="{% url 'panel_producto_habilitar' product_id=item.id estado=0 %}"> 
                <img src="{% static 'img/check.jpg' %}" alt="check" width="30" style="border-radius:10px;" name="is_available"></a>
             </td>
          {% else %}
            <td>
              <a href="{%url 'panel_producto_habilitar' product_id=item.id estado=1 %}">
               <img src="{% static 'img/uncheck.jpg' %}" alt="check" width="30" style="border-radius:10px;" name="is_available"> </a>
            </td>
          {% endif %}
           <td>{{ item.category }}</td>
          <td>{{ item.subcategory }}</td>
          <td>{{ item.modified_date | date:"d/m/Y" }}</td>
          <td>  
            <!--  <a href="{% url 'panel_productos_del' item.id %}" class="href btn btn-warning btn-circle" title="Editar">  <i class="far fa-edit"> </i></a>   
            -->  <a href="{% url 'panel_productos_del' item.id %}" class="href btn btn-danger btn-circle" title="Eliminar"><i class="far fa-trash-alt"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div>
</div>
{% endblock %}
{% block js_page %}

<script>
  function inactivar(id)
  {
    var data = {id:id};
    data = JSON.stringify(data);
    var token = '{{csrf_token}}';
    // alert(token);
    // alert(id);
    
    $.ajax({
      headers : {"X-CSRFToken": token},
      type:"POST",
      url:"/fac/clientes/estado/"+id,
      data: data,
      success: function(response){
        if(response==="OK")
        {
          location.reload(true);
        }
        else{
          mensaje("Error Intentado Cambiar Estado a Cliente");
        }
      },
      error: function(jqXHR, textStatus, errorThrow){
        console.log(textStatus, errorThrow);
        mensaje(errorThrow,'red');
        cerrar_modal();
      }
    });
  }
// Call the dataTables jQuery plugin
// $(document).ready(function() {
//   $('.table').DataTable();
// });
</script>
{% endblock %}