{% extends 'panel/base.html' %}
{% load static %}
{% load custom_filters %}

{% block page_content %}

<style>
  .bg-warning {
      background-color: #f8a392 !important; /* Fondo Naranja */
  }
  .bg-success{
      background-color: #81daab !important; /* Fondo verde */
  }
  .bg-info{
      background-color: #6172f7 !important; /* Fondo verde */
  }

  .table-container {
      overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
  }

  .table {
      width: 100%; /* Hace que la tabla ocupe el 100% del ancho disponible */
      max-width: 100%; /* Asegura que la tabla no exceda el tamaño de la pantalla */
      table-layout: auto; /* Ajusta el ancho de las columnas automáticamente */
  }
 
</style>


<div class="card shadow mb-4">
  <!-- Card Header - Dropdown -->
  <form action="{% url 'panel_lista_de_precios' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %} 
  <div class="card-header py-6 d-flex flex-row align-items-center justify-content-between">
    <h6 class="mb-9 font-weight-bold text-primary">Lista de Precios - {{ cantidad }}</h6>
              
      
    <div class="dropdown no-arrow">
      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
      </a>
      <a href="{% url 'mov_export_xls' 6 %}" class="btn btn-secondary">Exportar xls</a>
      
    </div>
 
  </div>
  <!-- Card Body -->
  <div class="card-body">
    {% if not productos %}
    <div class="alert alert-info">No se encontraron productos</div>
    {% endif %}
    
    <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-md-4" >
            <div class="input-group-append">
              <h3 class="h3 mb-0 text-gray-800">Categorias:  </h3>
            <select name="category" id="category" class="form-control">
              <option value="0" selected > - TODOS - </option> 
              {% for cat in categorias %}
                  {%if cat.id == categoria %}
                    <option value="{{cat.id}}" selected >{{ cat.category_name }}</option>
                  {% else %}
                    <option value="{{cat.id}}"  >{{ cat.category_name }} </option>
                  {% endif %}
              {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">
              <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
          <div class="col-md-3" >
            <div class="form-check">
              {% if activos %}
              <input class="form-check-input" id="is_available" name="is_available[]" type="checkbox" value="1" checked>
              {% else %}
              <input class="form-check-input" id="is_available" name="is_available[]" type="checkbox" value="0">
              {% endif %}
              <label class="form-check-label" if=is_available for="flexCheckChecked">Solo Activos</label>
          </div>
          </div>
      </div>
    </div>

  </form>
    <div id="table-container">
      <div class="table-responsive">
        <table 
          id="table" class="table"
          data-toggle="table"
          data-pagination="false"
          data-search="true"
          data-show-columns="true"
          data-show-toggle="true"
          data-show-fullscreen="true"
          data-toolbar=".buttons-toolbar"
          data-locale="es-AR" >
          <thead>
              <th  data-sortable="true" data-field="product_name">Nombre</th>
              <th  data-sortable="true" data-field="subcategory">Marca</th>
              <th  data-sortable="true" data-field="costo_prod">Costo</th>
              <th  data-sortable="true" data-field="Stock">Stock</th>

              <th  data-sortable="true" data-field="precio_base">Precio Base</th>
              <th  data-sortable="true" data-field="price">Precio Web</th> 
              <th  data-sortable="true" data-field="comision1_calculado">Com 1 Web</th>
              <th  data-sortable="true" data-field="beneficio1_calculado">Gan V R</th>
              
              <th  data-sortable="true" data-field="precio_cal_tn">P. Estim T N</th> <!-- Precio con impuestos-->
              <th  data-sortable="true" data-field="precio_TN">Precio TN</th>
              <th  data-sortable="true" data-field="comision2_calculado">Com T N</th>
              <th  data-sortable="true" data-field="beneficio2_calculado">Gan T N</th> 

              <th  data-sortable="true" data-field="precio_cal_ml">P. Estm M L</th>
              <th  data-sortable="true" data-field="precio_ML">Precio ML</th>
              <th  data-sortable="true" data-field="comision3_calculado">Com M L</th>
              <th  data-sortable="true" data-field="beneficio3_calculado">Gan M L</th>
        
          </thead>
          <tbody>
            {% for item in productos %}
            {% if item.beneficio1_calculado > 1 %}
              <tr>
            {% else %}
              <tr class="bg-warning" >
            {% endif %}
              
              <td><b><a href="{% url 'panel_producto_detalle' item.id %}">{{ item.product_name }}</a></b></td> 
              <td>{{ item.subcategory.subcategory_name }}</td> 
              <td>{{ item.costo_prod|default:0|format_currency }}</td> <!-- Costo de compra -->
              <td>{{ item.stock|default:0|format_integer_def }}</td> <!-- STOCK -->
              <td>{{ item.precio_base|format_currency }}</td> <!-- Precio Estimado WEB -->
              <td>{{ item.price|format_currency }}</td> <!-- Precio Regular de venta-->
              <td>{{ item.comision1_calculado|format_currency }} </td> <!-- comision 1 venta web / Regular-->
              <td>{{ item.beneficio1_calculado|format_currency }}</td> <!-- Beneficio Regular de venta-->
              
              <!-- Venta Tienda Nube-->
              <td>{{ item.precio_cal_tn|format_currency }}</td> <!-- Precio Tienda Nube utilizando margen 1 + margen 2-->
              <td>{{ item.precio_TN|format_currency }} </td> <!-- Precio Tienda Nube-->
              <td>{{ item.comision2_calculado|format_currency }} </td> <!-- comision x venta tienda nube-->
              <td>{{ item.beneficio2_calculado|format_currency }}</td>
              
              <!-- Precio Venta ML -->
              <td>{{ item.precio_cal_ml|format_currency }}</td> <!-- Precio Estimado Mercado Libre utilizando margen 1 + margen 2-->
              <td>{{ item.precio_ML|format_currency }}</td> <!-- Precio Real Mercado Libre--> 
              <td>{{ item.comision3_calculado|format_currency }} </td> <!-- comision x venta Mercado Libre-->
              <td >{{ item.beneficio3_calculado|format_currency }}</td> <!-- Beneficio de venta Mercado Libre-->
            
            </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js_page %}

<script>

   function buscarsubcategoria()     {
       
       console.log($("#category").val());
       var categoria=$('#category').val();
       var path = "{% url 'api:subcategory_list' %}" + categoria;

        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
            
                var select2=document.getElementById('subcategory');
                select2.options.length=0;
                for(f=0;r.length;f++)
                {
                    var op=document.createElement('option');
                    var texto=document.createTextNode(r[f].subcategory_name);
                    
                    op.value = r[f].id
                    op.appendChild(texto);
                    select2.appendChild(op);
                } 
            },
        });
    }
    
   $(function () {

      
        $("#category").change(function() {
           console.log($("#category").val());
           buscarsubcategoria();
           
        });
      
    });

    
   

</script>

{% endblock %}