<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Términos y Condiciones</title>
    <style>
        body {
            font-family: 'Arial', sans-serif; /* Reemplaza 'Arial' por la fuente específica de lifche.qualities.com.ar */
            color: #333; /* Reemplaza '#333' por el color específico de texto de la página */
        }
        
        h1 {
            color: #006CB7; /* Reemplaza '#006CB7' por el color específico de los títulos de la página */
        }
        
        p {
            font-size: 16px; /* Tamaño de fuente regular */
        }
    </style>
</head>
<body>
    <h1>Como realizar su pedido</h1>
    <p> 1 . Debes registrarte. </p>
    <p>
        IMPORTANTE !!!! 
        Vas a recibir datos bancarios, fotos de tu pedido y número de seguimiento del Correo Argentino via mail asi que te pedimos que registres en tu perfil el mail que usas comúnmente. NO ENVIAREMOS ESTOS DATOS VIA WHATSAPP. 
        
        Tene en cuenta que en tu perfil podes configurar varios domicilios para recibir tu pedido que quedarán guardados para futuras compras. En el caso que quieras guardar una sucursal de Correo Argentino, te pedimos que solo cargues el nombre de la sucursal. Ej. GENERAL PACHECO
    </p>
    <p> 
        2 . Una vez registrada ya podes hacer tu pedido …
        <li>Selecciona los productos</li>
        <li>Selecciona el domicilio de entrega</li> 
        <li>Corrobora el pedido y tus datos personales</li>
        <li>Confirma el pedido.</li>
    </p>
    <p>   
        Posteriormente te van a llegar 3 mails: 
        El primero confirmando tu pedido 
        El segundo con los datos de la cuenta a depositar y el costo del correo. 
        ( Una vez que realices el pago te pedimos que nos envíes el comprobante de deposito via WhatssApp )
        El tercero con el tracking de envío y la foto de tu pedido 
    </p>     
    <p>    
        GRACIAS
    </p>

    <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">Volver</a>
</body>
</html>