{% load static %}


{% if request.path|slice:":7" != '/store/' %}
  
  <div class="container-fluid" style="text-align:center;background-image: linear-gradient(to right, #3167EB , #7A7A7A);padding:10px;font-weight: 600;position:sticky;top:0;z-index:999;">
  <a href="#" style="color: white;text-transform: uppercase;letter-spacing: 2px;">
  <span>&#x1F525</span>  BIENVENIDO AL CATALOGO MAYORISTA<span>&#x1F525</span></a>
  </div> <!-- container //  -->
{% endif %}
<header class="section-header ml-left">
  <div class="col-lg-8 col-md-3 col-6 ">
    <a href="{% url 'home' %}" >
      <img class="img-fluid" src="{% static './images/logo.png' %}"  alt="Logo">
    </a> 
   
  </div>
  <nav class="navbar navbar-expand-lg navbar-light background-image" >
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show in" id="navbarTogglerDemo01">
      {% if user.id is None %}
          <div class="widget-header ml-left">
            <small class="title text-muted">Bienvenido Invitado!</small>
            <div>
              <a href="{% url 'login' %}">Ingresar</a> <span class="dark-transp"> | </span>
              <a href="{% url 'register' %}"> Registrarse</a>
            </div>
          </div>
          {% else %}
          <div class="widget-header ml-left">
            <small class="title text-muted">Bienvenido {{user.first_name}}!</small>
            <div>
              <a href="{% url 'dashboard' %}" target="_blank">Mi Perfil</a> <span class="dark-transp"> | </span>
              <a href="{% url 'logout' %}"> Logout</a>
            </div>
          </div>
          {% endif %}
          <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
            <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
            <span class="badge badge-pill badge-danger notify">{{cart_count}}</span>
          </a>
          <br>
          <div class="widget-header ml-left" >
           <a href="{% url 'store' %}"> <h5 class="card-title">Productos</h5></a>
          <div>
          </div>
      

          <form action="{% url 'search' %}" class="search" method='GET'>
            <div class="input-group w-100">
                <input type="text" class="form-control" style="width:60%;" placeholder="Search" name="keyword" required>
      
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
          </form>
    
  </nav>
</header> <!-- section-header.// -->
	<!-- ========================= FOOTER END // ========================= -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
  </body>
  </html>
