{% load static %}
 
  <div class="container-fluid" style="text-align:center;background-image: linear-gradient(to right, white , white);padding:10px;font-weight: 600;position:sticky;top:0;z-index:999;">
  <a href="#" style="color:black;text-transform: uppercase;letter-spacing: 2px;">
    BIENVENIDO AL CATALOGO MAYORISTA</a>
  </div> <!-- container //  -->

 
<header class="section-header" style="text-align:center;background-image: linear-gradient(to right, white , white);padding:0px;font-weight: 600;position:sticky;top:0;z-index:999;">
  <!--  DIV 2 PARA SCROLL  *************************-->
<p> &nbsp</p>

  <div id="TopDiv_light" class="container">
    <div  class="row " >
          <div class="col text-align-left" >
             <div class="input-group-append">  <!-- style="width: 50%;"-->
                  <a href="{% url 'store' %}" class="btn btn-primary text-center btn-block"> 	
                      <i class="fa fa-list"></i> &nbsp Productos</a>
              </div>
              <div class="d-flex p-1" >     
                   <form action="{% url 'search' %}" class="search  btn-block" method='GET'>
                          <div class="input-group-append" >
                              <input type="text" class="form-control"  placeholder="Search" name="keyword"  required>
                              <div class="input-group-append ">
                                <button class="btn btn-primary btn-block" type="submit">
                                  <i class="fas fa-search"></i>
                                </button>
                              </div>
                              <!-- <span  class="px-2"> <a href="{% url 'condiciones' %}">Como hacer tu pedido </a></span> -->
                          </div>
                   </form>
              </div>
                        
          </div>
      
      <div  class="col text-transform">
        
          <small>
          <a href="{% url 'home' %}"><div class="mr-1"> 
              <img id="myLogo" class="img-fluid"  src="{% static './images/lifche.jpg' %}"  alt="Logo">
            </div> 
          </a>
          </small>
      </div>
      <div class="col align-items-right">
            <a href="{% url 'cart' %}">
              <div class="btn btn-primary btn-block"> <i class="fa fa-shopping-cart">&nbsp Carrito</i> 	<!-- style="width: 50%;" -->
              <span class="badge badge-pill badge-danger notify">({{cart_count}})</span></div>
            </a>
                {% if user.id is None %}
                <div class="align-items-right">
                  <small class="title text-muted">Bienvenido Invitado!</small>
                  <a href="{% url 'login' %}" target="_blank">
                    <small class="title text-muted">Iniciar Sesion!</small></a>

                </div>
              {% else %}
                <div class="align-items-right">
                  <small class="title text-muted">Bienvenido {{user.first_name}}!</small>
                  <br>
                  <a href="{% url 'logout' %}">
                    <small class="title text-muted">Cerrar Sesion!</small></a>
                  
                  <div>
                <!--   <a href="{% url 'meli_get_first_token' %}" target="_blank">Mi Perfil</a> <span class="dark-transp"> | </span>
                    
                    <a href="{% url 'logout' %}"> Cerrar sesion</a>--> 
                  </div>
                </div>
              {% endif %}
      
      </div>
    </div>
</div>
  <!--  FIN DIV 2 PARA SCROLL *********************-->


</header> <!-- section-header.// -->
	<!-- ========================= FOOTER END // ========================= -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
   

//  document.addEventListener('scroll', function() {
//    const div = document.getElementById('TopDiv');
//    const div2 = document.getElementById('TopDiv_light');

//    if (window.scrollY === 0) {
//        div.classList.remove('hidden');
//        div2.classList.add('hidden');
//    } else {
//        div.classList.add('hidden');
//        div2.classList.remove('hidden');
//    }
//});

 // document.addEventListener('DOMContentLoaded', function() {
 //   const div2 = document.getElementById('TopDiv_light');
//    div2.classList.add('hidden');
//});
  </script>
  </body>
  </html>
