{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="section-content padding-y bg">
<div class="container">
  <h1 class="h6 mb-3 text-gray-600">
    <p>UNA VEZ RECIBIDO TU PEDIDO, 
    CONTROLAMOS EL STOCK Y NOS COMUNICAMOS CON VOS PARA COORDINAR EL PAGO. 
   TE PEDIMOS NOS ENVIES TU EMAIL PARA ENVIARTE LA FACTURA</p>
  </h1>
<!-- ============================ COMPONENT 1 ================================= -->

<div class="row">
	<aside class="col-lg-6">
<div class="card">
  <div class="card-body">
    <h4 class="card-title mb-4">Cliente</h4>
    <form action="{% url 'place_order' %}" method="POST">
      {% csrf_token %}
      <div class="form-row">
        <div class="col form-group">
          <label for="">Nombre</label>
          <input type="text" name="first_name" class="form-control" value="{{user.first_name}}"  required>
        </div>
        <div class="col form-group">
          <label for="">Apellido</label>
          <input type="text" name="last_name" class="form-control" value="{{user.last_name}}" required>
        </div>
      </div>
      <hr>
      <br>
      <h4 class="card-title mb-4">Dirección de Entrega</h4>
      <div class="form-row">
          <div class="col form-group">
            <label for="">Direcciones disponibles:</label>
            <select name="direccion" id="direccion" class="form-control" required>
              <option value="0" selected disabled >Seleccione una direccion</option>
              {% for item in direccion %}
                <option value="{{item.dir_id}}" >{{ item.dir_nombre}}</option>
              {% endfor %}
            </select>
            <br>
            <label for="">Entrega en Correo Argentino: 
              <a href=""><img name="img_correo" id="img_correo" src="{% static 'img/uncheck.jpg' %}" alt="check" width="30" style="border-radius:10px;"></a>
              <input type="text" name="dir_correo" id="dir_correo" class="form-control" value="" required hidden>
            </label>
   </div>
      </div>
      <hr>
      <div class="form-row">
        <div class="col form-group">
          <label for="">Email</label>
          <input type="email" name="email" class="form-control" value="{{user.email}}" required>
        </div>
        <div class="col form-group">
          <label for="">Telefono</label>
          <input type="text" name="dir_telefono" id="dir_telefono" class="form-control" value="" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col form-group">
          <label for="">Calle</label>
          <input type="text" name="dir_calle" id="dir_calle" class="form-control" value="" required>
        </div>
        <div class="col form-group">
          <label for="">Nro</label>
          <input type="text" name="dir_nro" id="dir_nro" class="form-control" value="">
        </div>
      </div>
      <div class="form-row">
        <div class="col form-group">
          <label for="">Localidad</label>
          <input type="text" name="dir_localidad" id="dir_localidad" class="form-control" value="" required>
        </div>
        <div class="col form-group">
          <label for="">Provincia</label>
          <input type="text" name="dir_provincia" id="dir_provincia" class="form-control" value="" required>
        </div>
        <div class="col form-group">
          <label for="">Codigo Postal</label>
          <input type="text" name="dir_cp" id="dir_cp" class="form-control" value="" >
        </div>
        </div>
        <div class="form-row">
          <label for="">Observaciones</label>
          <textarea name="dir_obs" id="dir_obs" rows="2" class="form-control"></textarea>
        </div>
        
       


  </div>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-6">

		<div class="card">
		<div class="card-body">
      <table class="table table-borderless table-shopping-cart">
      <thead class="text-muted">
      <tr class="small text-uppercase">
        <th scope="col">Product</th>
        <th scope="col" width="120">Quantity</th>
        <th scope="col" width="120">Price</th>

      </tr>
      </thead>
      <tbody>

      {% for cart_item in cart_items %}
      <tr>
      	<td>
      		<figure class="itemside align-items-center">
      			<div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
      			<figcaption class="info">
      				<a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
      				<p class="text-muted small">
      					{% if cart_item.variations.all %}
      						{% for item in cart_item.variations.all %}
      							{{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
      						{% endfor %}
      					{% endif %}
      				</p>
      			</figcaption>
      		</figure>
      	</td>
      	<td>
      		<!-- col.// -->
      				<label for="">{{cart_item.quantity}}</label>
      	</td>
      	<td>
      		<div class="price-wrap">
      			<var class="price">$ {{ cart_item.sub_total }}</var>
      			<small class="text-muted"> $ {{ cart_item.product.price }} each </small>
      		</div> <!-- price-wrap .// -->
      	</td>

      </tr>
      {% endfor %}

      </tbody>
      </table>

      <button type="submit" name="submit" class="btn btn-primary btn-block">Confirmar Compra</button>
			<a href="{% url 'store' %}" class="btn btn-light btn-block">Continar Comprando</a>
      </form>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->


</aside> <!-- col.// -->


</div> <!-- row.// -->

<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->




<script>
 
 function buscardireccion(dir_id)     {
       
       if (dir_id==0){
            return false;
        }
        var path = "{% url 'api:api_direccion' %}" + dir_id;

        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                $("#dir_calle").val(r.dir_calle);
                $("#dir_nro").val(r.dir_nro);
                $("#dir_cp").val(r.dir_cp);
                $("#dir_telefono").val(r.dir_telefono);
                $("#dir_localidad").val(r.dir_localidad);
                $("#dir_provincia").val(r.dir_provincia);
                $("#dir_obs").val(r.dir_obs);
                if (r.dir_correo==false){
                  document.getElementById("img_correo").src="{% static 'img/uncheck.jpg' %}";
                  $("#dir_correo").val("0");
                }
                if (r.dir_correo==true){
                  document.getElementById("img_correo").src="{% static 'img/check.jpg' %}";
                  $("#dir_correo").val("1");
                }
                
            },
        });
    }

   $(function () {     
        $("#direccion").change(function() {
           console.log($("#direccion").val());
           buscardireccion($("#direccion").val());
        });
    
        $("#direccion").val({{direccion.dir_id }}).change();
            
    });

</script>

{% endblock %}