{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION PAGETOP 
<section class="section-pagetop bg">
<div class="container">
	{% if 'search' in request.path %}
		<h2 class="title-page">Search Result</h2>
	{% else %}
		<h2 class="title-page">Our Store</h2>
	{% endif %}

</div> 
</section>
========================= -->
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">



<div class="row">
	<aside class="col-md-3">
		

<div class="card">
	<article class="filter-group">
		
			<div class="card-body">
				
				
				<label for="">Categorias</label>
					<select name="filtro-cat" id="filtro-cat" class="form-control">
						{% if not category_name %}
							<option selected disabled value="">Filtros</option>
						{% else %}
							<option  select value="category/{{ category.slug}}/">{{ category_name }}</option>
						
						{% endif %}
						{% for category in links %}
								<option  value="category/{{ category.slug}}/">{{ category.category_name }}</option>
							
						{% endfor %}
					</select>
			</div> <!-- card-body.// -->
            <div class="card-body">
				
				
				<label for="">Sub Categorias - {{sub_category_name}}</label>
					<select name="filtro-subcat" id="filtro-subcat" class="form-control">
						{% if not sub_category_name %}
						<option selected disabled value=""> -- Seleccione -- </option>
						{% else %}
							<option selected value="{{subcategory.sub_category_slug}}/">{{ sub_category_name }}</option>		
                        {% endif %}
                        {% for subcategory in subcategories %}
                                <option value="{{subcategory.sub_category_slug}}/">{{ subcategory.subcategory_name }}</option>		
                            	
                        {% endfor%}
                    
					</select>
			</div> <!-- card-body.// -->
	</article> <!-- filter-group  .// -->
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<!-- <main class="col-md-9">  -->
	<main class="col-md-9">
		<input type="text" value="{{category_slug }}" id="cat_slug" nameid="cat_slug" hidden>
<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
				  <li class="breadcrumb-item"><a href="{% url 'store' %}">Home</a></li>
				  {% if category_name %} 
				  <li class="breadcrumb-item"><a href="{% url 'products_by_category' category_slug %}">{{category_name}}</a></li>
				  {% endif %}
				  {% if sub_category_name %}	
				  <li class="breadcrumb-item active" aria-current="page">{{sub_category_name}}</li>
				  {% endif %}
				</ol>
			</nav>
		<small><span class="mr-md-auto"><b>{{ product_count }}</b> articulos encontrados</span></small>
		</div>
</header><!-- sect-heading -->

<div class="row">
	{% if products %}
	{% for product in products %}
	
	<div class="col-md-2 w-50 p-1">
		<form action="{% url 'add_cart' product.id %}" method="POST">
			{% csrf_token %}
			<input type="text" class="form-control form-control-sm"  id="ruta" name="ruta" value="{{ request.path }}" hidden >
			<figure class="itemside align-items-center">
			<section id="{{product.id}}">
				<div class="img-wrap" style="font-size: 1.1em;">
				<center>
					<a href="{{ product.get_url }}">
					{% if product.images %}
						<img src="https://yourfiles.cloud/uploads/{{product.imgfile}}" width="80" height="90" class="text-muted small">
					{% else %}
						<img src="https://yourfiles.cloud/uploads/none.jpg" width="80" height="90">
					{% endif %}
				</a>
				</center>
				
			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				
					<div class="fix-height">
						<a href="{{ product.get_url }}" class="text-muted small">{{ product.product_name |truncatechars:50}} - $ {{ product.price }}</a>
					</div>
							
					{% if product.stock > 0 %}
					<div class="input-group-prepend">	
						<input type="text" class="form-control form-control-sm"  id="quantity" name="quantity" value="1" onchange="this.form.submit()">
						<input type="text" class="form-control form-control-sm"  id="volver_store" name="volver_store" value="1" hidden>
						<button type="submit" class="btn  btn-primary btn-sm" data-toggle="modal" data-target="#staticBackdrop" readonly="readonly"> 
							<i class="fa fa-shopping-cart"></i>
						</button>
					</div>
					{% else %}
					<div class="input-group-prepend">	
						<h5 class="text-danger">Sin Stock</h5>
					</div>
					{% endif %}


						
					<!--
					<button type="submit" class="btn  btn-primary" data-toggle="modal" data-target="#staticBackdrop" readonly="readonly"> 
						<span class="text">Agregar</span> <i class="fa fa-shopping-cart"></i> </button>
					-->
			</figcaption>
			</section>
		</figure>
		</form>
	</div> <!-- col.// -->
	{% endfor %}
	{% else %}
	<div>
		<h2>No se encontraron articulos disponibles</h2>
	</div>
	{% endif %}
	

	
  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="staticBackdropLabel"><i class="fa fa-shopping-cart"> - Carrito </i> </h5>
		  
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  Producto Agregado
		</div>
	  </div>
	</div>
  </div>
	<!-- FIN MODAL-->
				
</div> <!-- row end.// -->


<nav class="mt-4" aria-label="Page navigation sample">
	{% if products.has_other_pages %}
	  <ul class="pagination">
			{% if products.has_previous %}
	    <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Anterior</a></li>
			{% else %}
			<li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
			{% endif %}

			{% for i in products.paginator.page_range %}
				{% if products.number == i %}
	    		<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
				{% else %}
					<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
				{% endif %}
	    {% endfor %}

			{% if products.has_next %}
	    	<li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Siguiente</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
			{% endif %}
	  </ul>
	{% endif %}
</nav>

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>

<!-- ========================= SECTION CONTENT END// ========================= -->

    

<script>

    
$(function () {

        $("#filtro-cat").change(function() {
           //console.log($("#filtros").val());
		   var filtro=$('#filtro-cat').val();
		   //console.log("origin")
           //console.log(window.location.origin)  //subcategory
		   //console.log("pathname")
		   //console.log(window.location.pathname) //Localhost
		   //console.log("filtro")
		   //console.log(filtro)
		   url = window.location.origin + '/store/' + filtro
		   //console.log("url")  
		   //console.log(url)
		   window.location.href = url
		   
		   
        });

		$("#filtro-subcat").change(function() {
           //console.log($("#filtros").val());
		   var subcat=$('#filtro-subcat').val();
		   var cat=$('#cat_slug').val();
		   
		   
		   url = window.location.origin + '/store/category/' + cat + '/' + subcat
		   console.log("url")  
		   console.log(url)
		   window.location.href = url
		   
		   
        });
  
		
});

    
   

</script>

{% endblock %}
