{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION PAGETOP 
<section class="section-pagetop bg">
<div class="container">
	{% if 'search' in request.path %}
		<h2 class="title-page">Search Result</h2>
	{% else %}
		<h2 class="title-page">Our Store</h2>
	{% endif %}

</div> 
</section>
========================= -->
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">



<div class="row">
	<aside class="col-md-3">
		

<div class="card">
	<article class="filter-group">
		
			<div class="card-body">
				
				
				<label for="">Filtros</label>
				

                <select name="filtros" id="filtros" class="form-control">
                	<option selected disabled value="">Filtros</option>
					{% for category in links %}
						<option selected disabled value="{{ category.slug}}">{{ category.category_name }}</option>
						{% for subcategory in sub_links %}
							{% if subcategory.category == category %}
								<option value="subcategory/{{category.slug}}/{{subcategory.sub_category_slug}}/"><B>{{ subcategory.subcategory_name }}</B></option>		
							{% endif %}
						{% endfor%}
					{% endfor %}
				  </select>
				


			</div> <!-- card-body.// -->
	
	</article> <!-- filter-group  .// -->

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<!-- <main class="col-md-9">  -->
	<main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
				  <li class="breadcrumb-item"><a href="#">Home</a></li>
				  <li class="breadcrumb-item"><a href="#">Library</a></li>
				  <li class="breadcrumb-item active" aria-current="page">Data</li>
				</ol>
			  	<span class="mr-md-auto"><b>{{ product_count }}</b> articulos encontrados</span>
			</nav>
		</div>
</header><!-- sect-heading -->

<div class="row">
	{% if products %}
	{% for product in products %}
	<div class="col-md-4">
		<form action="{% url 'add_cart' product.id %}" method="POST">
			{% csrf_token %}
		<figure class="card card-product-grid">
			<div class="img-wrap">
				<a href="{{ product.get_url }}">
					{% if product.images %}
						<img src="https://yourfiles.cloud/uploads/{{product.images.url}}">
					{% else %}
						<img src="https://yourfiles.cloud/uploads/none.jpg">
					{% endif %}
				</a>

			</div> <!-- img-wrap.// -->
			<figcaption class="info-wrap">
				<div class="fix-height">
					<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
					<div class="price-wrap mt-2">
						<span class="price">$ {{ product.price }}</span>
					</div> <!-- price-wrap.// -->
				</div>
		<!--		<a href="{{ product.get_url }}" class="btn btn-block btn-primary">View Details </a>
		-->		<button type="submit" class="btn  btn-primary"> <span class="text">Agregar al carrito</span> <i class="fa fa-shopping-cart"></i> </button>


			</figcaption>
		</figure>
		</form>
	</div> <!-- col.// -->
	{% endfor %}
	{% else %}
	<div>
		<h2>No result found. Please try again.</h2>
	</div>
	{% endif %}
</div> <!-- row end.// -->


<nav class="mt-4" aria-label="Page navigation sample">
	{% if products.has_other_pages %}
	  <ul class="pagination">
			{% if products.has_previous %}
	    <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Anterior</a></li>
			{% else %}
			<li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
			{% endif %}

			{% for i in products.paginator.page_range %}
				{% if products.number == i %}
	    		<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
				{% else %}
					<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
				{% endif %}
	    {% endfor %}

			{% if products.has_next %}
	    	<li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Siguiente</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
			{% endif %}
	  </ul>
	{% endif %}
</nav>

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<script>

function buscarsubcategoria()     {
       
       console.log($("#filtros").val());
       var filtro=$('#filtros').val();
       var path = "{% url 'products_by_subcategory' 'esferas' 'esferas-9-mm' %}" 

        $.ajax({
            type:"GET",
            url: path,
            success: function(r){
                
            },
        });
    }

    
$(function () {

        $("#filtros").change(function() {
           console.log($("#filtros").val());
           buscarsubcategoria();
		   
        });
		
});

    
   

</script>

{% endblock %}