{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION PAGETOP 
<section class="section-pagetop bg">
<div class="container">
	{% if 'search' in request.path %}
		<h2 class="title-page">Search Result</h2>
	{% else %}
		<h2 class="title-page">Our Store</h2>
	{% endif %}

</div> 
</section>
========================= -->
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-2">
	

<div class="card">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="false" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Categorias</h6>
			</a>
		</header>
		<div class="filter-content collapse" id="collapse_1" aria-expanded="false" >
			<div class="card-body">
				<ul class="list-menu">
					{% for category in links %}
						<li>
							<a data-toggle="collapse" href="#{{ category.category_name }}"  aria-expanded="false" aria-controls="{{ category.category_name }}">
								<strong>{{ category.category_name }} </strong>
							  </a><ul>
							  {% for subcategory in sub_links %}
									{% if subcategory.category == category %}
							 		<div class="collapse" id="{{ category.category_name }}">
										<li><a href="{% url 'products_by_subcategory' category.slug subcategory.sub_category_slug %}">{{subcategory.category}} - {{ subcategory.subcategory_name }}  </a></li> 
									</div>
									{% endif %}
							   {% endfor%}
								</ul>
						</li>
					{% endfor %}
				</ul>

			</div> <!-- card-body.// -->
		</div>
	</article> <!-- filter-group  .// -->

</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<!-- <main class="col-md-9">  -->
	<main class="col-md-9">

<header class="border-bottom mb-2">
		<div class="form-inline">
			<span class="mr-md-auto"><b>{{ product_count }}</b> items found </span>

		</div>
</header><!-- sect-heading -->

	<div class="row justify-content-md-center">
	{% if products %}
		{% for product in products %}
		<div class="col-md-3">
			<form action="{% url 'add_cart' product.id %}" method="POST" class="small">
				{% csrf_token %}
				<input type="text" class="form-control form-control-sm"  id="ruta" name="ruta" value="{{ request.path }}" hidden >
						
			<figure class="card card-product-grid" >
				<div class="img-wrap"  style="width: 6rem; height: 6rem">
					<a href="{{ product.get_url }}">
						<img  src="https://yourfiles.cloud/uploads/{{product.images.url}}" class="img-sm">
					</a>
				
			</div>
				<!--  justify-content: center -->
				<figcaption class="info-wrap">  
				<div class="fix-height"><small>
						<a href="{{ product.get_url }}" class="font-weight-light">{{ product.product_name }}</a>
						<span class="small"> $ {{ product.price }}</span></small>
					<!-- price-wrap.// -->
						<div class="input-group-prepend">
							<input type="text" class="form-control form-control-sm"  id="quantity" name="quantity" value="1" onchange="this.form.submit()">
							<input type="text" class="form-control form-control-sm"  id="volver_store" name="volver_store" value="1" hidden>
								
							<button type="submit" class="btn  btn-primary btn-sm"> 
								<i class="fa fa-shopping-cart"></i>
							</button>
						</div>
				</div> 
				</figcaption> 
			</figure>
			</form>
		</div> <!-- col.// -->
		{% endfor %}
	{% else %}
	<div>
		<h2>No result found. Please try again.</h2>
	</div>
	{% endif %}
</div> <!-- row end.// -->


<nav class="mt-4" aria-label="Page navigation sample">
	{% if products.has_other_pages %}
	  <ul class="pagination">
			{% if products.has_previous %}
	    <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Anterior</a></li>
			{% else %}
			<li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
			{% endif %}

			{% for i in products.paginator.page_range %}
				{% if products.number == i %}
	    		<li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
				{% else %}
					<li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
				{% endif %}
	    {% endfor %}

			{% if products.has_next %}
	    	<li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Siguiente</a></li>
			{% else %}
				<li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
			{% endif %}
	  </ul>
	{% endif %}
</nav>

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}

