{% extends 'base.html' %}
{% load static %}


<header>

</header>
{% block content %}
<!-- ========================= SECTION PAGETOP 
<section class="section-pagetop bg">
<div class="container">
	{% if 'search' in request.path %}
		<h2 class="title-page">Search Result</h2>
	{% else %}
		<h2 class="title-page">Our Store</h2>
	{% endif %}

</div> 
</section>
========================= -->
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">
	<!-- {{ resolucion }} -->
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		{% for category in links %}
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading1">
					<h6 class="panel-title"  style="font-size: 2em;">
						{% if request.path == '/store/' %}
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{category.id}}" aria-expanded="true" aria-controls="collapse_{{category.id}}" style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20x" class>{{ category.category_name }}
							<div class="float-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
						</a> 
						{% else %}
						<a href="{% url 'store' %}">{{ category.category_name }}
							<div class="float-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
						</a> 
						{% endif %}	 						
					</h6>
				
				{% for subcategory in sub_links %}
					{% if subcategory.category == category %}
						<p></p>
						{% if category.id == category_id %} 
							<div style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 1.3em;" aria-expanded="true" id="collapse_{{category.id}}" class="panel-collapse collapse show in" role="tabproducto" aria-labelledby="heading1">	
						{% else %}
							<div style="font-family: Verdana, Geneva, Tahoma, sans-serif; height: 0px; font-size: 1.3em;" aria-expanded="true" id="collapse_{{category.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
						{% endif %}
								<h6 class="panel-title"  style="font-size: 1.3em;">
									<li>
										<a  href="{% url 'products_by_subcategory' category.slug subcategory.sub_category_slug %}">{{ subcategory.subcategory_name }}</a>
									</li>
								</h6>
							
							{% if subcategory.id == subcategory_id  %}
								<div style="font-family: Verdana, Geneva, Tahoma, sans-serif;" aria-expanded="true" id="collapse1_sub_{{subcategory.id}}" class="panel-collapse collapse show in" role="tabproducto" aria-labelledby="heading1">
							{% else %}
								<div style="font-family: Verdana, Geneva, Tahoma, sans-serif; height: 0px;" aria-expanded="false" id="collapse1_sub_{{subcategory.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
								
							{% endif %}
							<p></p>

									<div class="container">
									
									{% if products %}
										{% for product in products %}
											<!-- Start Productos -->
											<form action="{% url 'add_cart' product.id %}" method="POST" class="small" style="background-color:White;">
												{% csrf_token %}
										
												<div class="row justify-content-start">
														<input type="text" class="form-control form-control-sm"  id="ruta" name="ruta" value="{{ request.path }}" hidden >

															<div class="col-4 col-md-4">
																<a href="#">
																	{% if product.images %}
																	<img class="lazyload" src="https://yourfiles.cloud/uploads/{{product.imgfile}}" class="img-sm"  style="width: 10rem; height: 10rem">
																	{% else %}
																	<img class="lazyload" src="https://yourfiles.cloud/uploads/none.jpg" class="img-sm"  style="width: 10rem; height: 10rem">
																	{% endif %}

																</a>
															</div>	
															<div class="col-8 col-md-4">
																<div class="input-group-prepend">
																	<a href="{{ product.get_url }}" >{{ product.product_name }} </a>
																	</div>
																	<span class=" font-size: 1.2em;"><b> $ {{ product.price }}</b></span>
																

																	{% if product.stock > 0 %}
																	<div class="input-group-prepend">	
																		<input type="text" class="form-control form-control-sm"  id="quantity" name="quantity" value="1" onchange="this.form.submit()">
																		<input type="text" class="form-control form-control-sm"  id="volver_store" name="volver_store" value="1" hidden>
																		<button type="submit" class="btn  btn-primary btn-sm"> 
																			<i class="fa fa-shopping-cart"></i>
																		</button>
																	</div>	
																	{% else %}
																	<div class="input-group-prepend">	
																		<h5 class="text-danger">Sin Stock</h5>
																	</div>
																	{% endif %}


															</div>
													
												</div>
											</form>
										{% endfor %}
										<div class="row">
											<div class="col-auto"></div>
										</div>
									<!-- End  Productos -->
									{% endif %}
									</div>

								</div>
						</div>
					{% endif %}
				{% endfor %}	
			</div>
		</div>
		{% endfor %}
	</div>
		

</div> <!-- container .//  -->
</section>


{% endblock %}
